<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         cacheResultFile="/app/.phpunit.result.cache"
         colors="true">
    <testsuites>
        <testsuite name="lihi-short-url">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-config.php" />
    </php>
    <coverage>
        <include>
            <directory suffix=".php">lihi-short-url/includes</directory>
        </include>

    </coverage>
</phpunit>
